.user-list {
    width: 100%;
    padding: 24px;
    
    // margin-top: 64px;
    // display: flex;
    // align-items: center;
    // flex-direction: column;
    
}
.header {
    display: flex;
    width:80%;
    margin: auto;
    margin-top: 40px;
    flex-direction: row-reverse;
}

.spacer {
    flex-grow: 1;
}


table {
    
    width: 80%;
    margin: auto;
    margin-top: 16px;
    .mat-cell {
        text-align: center;
        // border: none !important;
        padding: 4px;
        opacity: 0.7;
        font-size: 14px;
    }
    .mat-header-cell {
        text-align: center;
        // border: none !important;
        padding: 8px;
        font-size: 14px;
    }
}

.loader-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 72px;
}